# PIN (hash only – use 101199 or generate: node -e "require('bcryptjs').hash('YOUR_PIN',10).then(h=>console.log(h))")
REACT_APP_PIN_HASH=$2a$10$...

# EmailJS – sign up at https://www.emailjs.com/, add Gmail service (your app password), create template with {{to_email}}, {{subject}}, {{message}}
REACT_APP_EMAILJS_PUBLIC_KEY=
REACT_APP_EMAILJS_SERVICE_ID=
REACT_APP_EMAILJS_TEMPLATE_ID=
